</div>
<div class="center">
  <h1>Welcome to Pro-Duct</h1>


  <% if logged_in? %>
  
  <h2>
    Thank you for joining Pro-duct !
  </h2>
  
  <%= link_to "Register products for your company !", new_product_path, class: "btn btn-lg btn-warning" %>
  <% else %>
  
  <h2>
    This website is designed to list the products of any company</br>
    Don't wait and sign up in order to help us in that listing !
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-warning" %>
  
  <% end %>
</div>
</div class="container">
