<% provide(:title, 'All products') %>
<h1>All products</h1>

<%= will_paginate@products %>

<ul class="users">
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product %>
      <% if current_user.admin?  %>
        <%= link_to "delete", product, method: :delete,  class: "btn btn-sm btn-danger del" ,data: { confirm: "You sure?"} %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate@products %>