<% provide(:title, 'New product') %>
<% provide(:button_text, 'Create a product') %>
<h1>New product</h1>

<%= form_for(@product) do |p| %>
  <%= render 'shared/product_error_messages', object: @product %>

  <%= p.label :company_id , "Your company"%>
  <%= p.select :company_id, [[@company.name,@company.id]] %>
  
  

  <%= p.label :name %>
  <%= p.text_field :name, class: 'form-control' %>

  <%= p.label :description %>
  <%= p.text_area :description,size: "20x10", class: 'form-control' %>

  <%= p.label :price %>
  <%= p.number_field :price, class: 'form-control' %>
  
  
  <%= p.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>