<% provide(:title, @product.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @product.name %></h1>
        <ul>
          <li>Description : <%= @product.description %></li>
          <li>Price : <%= @product.price %>€</li>
        </ul>
    </section>
  </aside>
</div>