<% provide(:title, 'All companies') %>
<h1>All companies</h1>

<%= will_paginate@companies %>

<ul class="users">
  <% @companies.each do |company| %>
    <li>
      <%= link_to company.name, company %>
      <% if current_user.admin? && current_user.company_id != company.id %>
        <%= link_to "delete", company, method: :delete,  class: "btn btn-sm btn-danger del" ,data: { confirm: "You sure?"} %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate@companies %>
