<% provide(:title, 'New company') %>
<% provide(:button_text, 'Create my company') %>
<h1>New company</h1>

<%= form_for(@company) do |f| %>
  <%= render 'shared/company_error_messages', object: @company %>
  
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :nb_employees, "Number of employees" %>
  <%= f.number_field :nb_employees,max: 2147483647, class: 'form-control' %>

  <%= f.label :city %>
  <%= f.text_field :city, class: 'form-control' %>
  
  <%= f.label :phone %>
  <%= f.phone_field :phone, class: 'form-control' %>

  <%= f.label :turnover %>
  <%= f.number_field :turnover, max: 2147483647, class: 'form-control' %>
  
  
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>