<% provide(:title, @company.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @company.name %></h1>
        <ul>
          <li>Number of employees : <%= @company.nb_employees %></li>
          <li>City : <%= @company.city %></li>
          <li>Phone : <%= @company.phone %></li>
          <li>Turnover : <%= @company.turnover %></li>
          <li>Employees registered :</li>
          <ul>
            <% @users.each do |user| %>
            <li>
             <%= link_to user.name, user %>
            </li>
            <% end %>
          </ul>
        </ul>
    </section>
  </aside>
</div>